main {
  height: 330px;
  widows: 100px;
  background-image: linear-gradient(-180deg, #aaaa, #eeee);
  font-family: 'Pacifico', cursive;
}
label {
  display: inline-block;
  clear: left;
  width: 150px;
  text-align: right;
  padding: 4px;
  margin: 4px;
}
input {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}
#submit-button {
  float: left;
  clear: left;
  text-indent: 174px;
}
